
.productividad {
    background-color: #2c5073 !important;
    color: white !important;
    overflow-y: scroll !important;
    height: 400px !important;
}

#table-historico tbody tr td, #table-historico tbody th td{
    white-space: unset !important;
}

div#table-historico_length label {
    display: inline-flex;
    position: relative;
    width: 40%;
    align-items: center;
}

div#table-historico_paginate {
    display: inline-flex;
    float: right;
    align-items: center;
}

div#table-historico_length label > select {
    display: inline-block;
    margin: 0 5px;
}
div#table-historico_filter label {
    display: inline-flex;
    float: right;
    align-items: center;
}
div#table-historico_filter label > input {
    margin-left: 5px;
}



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 10px;
    background: #ffc5c500;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




.auth-main .auth-box .auth-left .left-top img {
    width: 200px;
}

/*Estilos para el scrolldown de tareas */
.scrollTareas {
    width:375px !important;
    height: 400px !important;
    width: 375px !important;
    overflow-y: scroll !important;
}

.botoncircle{
    width: 40px;
    height: 35px;


   
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    position: relative;
    float: right;
    top: -82px;
}

.botoncircle:hover{
  color: white;
}

.botoncircle a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
}


.loading {
    font-size: 14px;
  }
  
  .loading:after {
    content: "...";
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis-dot 1s infinite .3s;
    animation-fill-mode: fowards;
    width: 1.25em;
  }
  
  @keyframes ellipsis-dot {
    25% {
      content: "";
    }
    50% {
      content: ".";
    }
    75% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }

  

  
      .zoom{
          transition: 1.0s ease;
           -moz-transition: 1.0s ease; /* Firefox */
           -webkit-transition: 1.0s ease; /* Chrome - Safari */
           -o-transition: 1.0s ease; /* Opera */
      }
      .zoom:hover{
          transform : scale(2);
      
          -webkit-transform : scale(1.2); /* Chrome - Safari */
       
      }



.alert-password{
    margin-top: 5px;
    position: absolute;
    background-color: #FFF;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.small-password-invalid, .small-label-clave, .small-label-documento, .small-label-usuario, .small-label-claveusada, .valid-string{
    color: red;
    font-weight: bold;
    display: none;
}

.img-user{
    width: 40px;
    height: 40px;
}

.img-profile{
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 0 auto;
}

#img-user{
    background-image: url('../img/usuario.png');
}

#img-enterprise{
    background-image: url('../img/empresa.png');
}

label.cont-file{
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 10px 25px !important;
    width: fit-content;
    text-align: center;
}

input[type=file]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.alert{
    position: absolute;
    z-index: 999;
    width: 100%;
}
.theme-blue .page-loader-wrapper {
    background-color: white !important;
}

.loader img {
    width: 20% !important;
    padding-top: 205px !important;
}

#navbar-menu a.icon-menu img.rounded-circle{
    width: 30px;
    height: 30px;
}

#img-campaign{
    background-image: url('../img/campana.png');
}


.auth-main .auth-box .auth-left .left-slider {
    border-radius: 5px 0 0 5px !important;
}

.fa-arrow-alt-circle-right, .fa-arrow-alt-circle-left{
    font-size: 30px;
    color: #007BFF;
}

.fa-arrow-alt-circle-right:hover, .fa-arrow-alt-circle-left:hover, button.close{
    color: #FFF !important;
}

.auth-main .mobile-logo img {
    width: 100%;
}

.navbar-fixed-top .navbar-brand img{
    width: 40px;


}

.contenedor {
    display:none;
    
}

a.campanas{
    border: 1px solid #c1c1c1;
    display: inline-block;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    padding: 5px;
}

a.campanas img{
    max-height: 50px;
    width: 50%;
}

#direcciones-modal, #email-modal, #telefonos-inactivos-modal, #localizados-modal{
    display: none;
}

.page-loader-wrapper .loader{
    top: calc(11% - 30px) !important;
}

.alert-schedule{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#agendamiento{
    height: 150px;
    overflow-y: scroll;
    padding: 0 3px;
}

#agendamiento p{
    font-size: 1rem;
}

.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.small-valid-password{
    display: none;
    color: red;
    font-weight: bold;
}

#notificaciones{
    top: 1%;
    right: 1%;
    position: fixed;
    z-index: 1001;
}

#notificaciones .toast{
    position: relative;
    border: 1px solid #FFF;
    box-shadow: #939393 2px 2px 0px;
}

.pagination a.page-link, a.icon-menu, .breadcrumb a{
    cursor: pointer;
}

.form-group .progress{
    height: 20px !important;
}

#telefonos-activos-modal, #telefonos-inactivos-modal, #direcciones-modal, #email-modal, #localizados-modal{
    height: 400px;
    overflow: scroll;
}

.alert#txtCallStatus{
    left: 5px;
    bottom: 0px;
    position: fixed;
    z-index: 999;
    width: 14%;
    font-size: 10px;
    text-align: center;
}



.searchDinamic{
    list-style: none;
    background-color: #FFF;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-top: .25rem;
    position: absolute;
    width: 400px;
    height: 100px;
    overflow: scroll;
    z-index: 999;
}

.searchDinamic li{
    cursor: pointer;
}

.searchDinamic li:hover{
    background-color: rgba(206, 212, 218, .5);
    font-weight: bold;
}

#tableTasks{
    height: 400px;
    overflow-y: scroll;
}

.toast, .toast-header{
    background: #17191C !important;
    color: #FFF !important;
}

.progress.vertical{
    width: 50px !important;
}

.progress.vertical span{
    font-size: 9px;
}

.tableCampaign tr td a{
    color: #343A40 !important;
}


.navbar-nav ul.notifications {
    height: 400px;
    overflow-y: scroll;
    width: 600px !important;
}

div#navbar-menu p#nombre-cedula-cliente{
    background-color: #FFF;
    position: absolute;
    z-index: 1000;
    top: 110%;
    left: 35%;
    border-radius: 5px;
    padding: 3px;
    box-shadow: #939393 5px 5px 3px;
}



  
  .navbar-nav ul.notifications::-webkit-scrollbar-track:hover, 
  .navbar-nav ul.notifications::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }


 

  .mega_menubar.open {
    top: 80px !important;
}

.mega_menubar{
    width: 90% !important;
    left: 6%;
}

.vertical-align-wrap#fixedPausas{
    z-index: 10000;
    position: fixed !important;
    }

.media .media-body {
    color: #FFF !important;
}

ul.multiselect-container.dropdown-menu.show{
    width: 300px;
}

.cargando-gif{
    margin: 0 auto;
}







@media screen and (max-width: 640px){
    .auth-main .mobile-logo {
        top: -90px;
    }
}


@media (min-width: 992px) { 
    .modal-lg, .modal-xl {
        max-width: 95% !important;
    }
}





